{% extends 'nav.html' %}

{% block title %}
    Dashboard
{% endblock %}

{% block main %}
    <section>
        <h2>Yours Teams</h2>
        <ul>
            {% for team in teams %}
                <li>{{ team.team_id__name }}</li>
            {% endfor %}
        </ul>
    </section>
    <section>
        <h3>Join Requests</h3>
        <ul>
            {% for req in join_requests %}
                <li>{{ req.team_id }} | {{ req.get_status_display }}</li>
            {% endfor %}
        </ul>
        <form method="POST" action="">
            {% csrf_token %}
            {% include 'form.html' with form=join_form %}
            <input type="submit" value="Join">
        </form>
    </section>
{% endblock %}