{% extends 'base.html' %}

{% loadmacros 'macros.html' %}
    
{% block title %}
    Login
{% endblock %}
    
{% block body %}
<body>
    <header>
        <h5>Sirius</h5>
        <h6>New to Sirius? <a href="{% url 'user:signup' %}">Signup</a></h6>
        <h2>Login</h2>
    </header>
    <form method="POST" action="{% url 'user:signin' %}">
        {% csrf_token %}
        <table>

        </table>
        <input type="submit" value="Login">
        {% if request.GET.next %}
            <input type="hidden" name="text" value="{{ request.GET.next }}">
        {% endif %}
    </form>
</body>
{% endblock %}
    