{% extends 'console.html' %}

{% block title %}
    Calendar
{% endblock %}

{% block workspace %}
<div>
    <div class="row">
        <div class="col-md-12">
            <h1>Roles</h1>
            <form action="{ url 'authorization:update_role' }">
                {% for member in members %}
                <p>{{ member.user_id__first_name }} {{ member.user_id.last_name }}</p>
                <p>{{ member.user_id__email }}</p>
                <select name="" id=""></select>
                <p>{{ member.role_id__role_name }}</p>
                {% endfor %}
            </form>
        </div>
    </div>
    
</div>
{% endblock %}
