{% extends 'base.html' %}
    
    
{% block title %}
    Login
{% endblock %}
    
{% block body %}
<body>
    <div class="container">
        <div class="formbox">
            <h2>Team</h2>
            <form>
                <input type="text" name="team_name" placeholder="Team Name">
                <input type="text" name="team_description" placeholder="Team Description">
                <button type="submit">Start a Team</button>
            </form>

        </div>
        <div>
            <img class="newteamimg" src ="">
        </div>

    </div>
    
</body>