{% extends 'console.html' %}

{% block title %}
    {{ console.team.name }}
{% endblock %}

{% block workspace %}
<img src="temp" \>
<p>
    {% for parent in console.parents %}
        <a href="{% url 'team:team_info' pk=parent.pk %}">{{ parent.name }} //</a>
    {% endfor %}
    <span>{{ console.team.name }}</span>
    <span>#{{ console.team.pk }}</span>
</p>
<p>Since {{ console.team.created_at|date:"d/m/Y" }}</p>
<section>
    <h2>Members</h2>
    <ul>
    {% for member in members %}
        <li>
            <p>{{ member.user_id__first_name }} {{ member.user_id__last_name }}</p>
            <p>@{{ member.user_id__username }}</p>
            <p>{{ member.role_id__role_name }}</p>
    {% endfor %}
    </ul>
</section>
<section>
    <h2>Teams</h2>
    <ul>
    {% for child in children %}
        <li><a href="{% url 'team:team_info' pk=child.pk %}">{{ child.name }}</a></li>
    {% endfor %}
    </ul>
</section>
{% endblock %}